<!-- https://flask.palletsprojects.com/en/2.0.x/tutorial/templates/--> 
<!doctype html>
<title>{% block title %}{% endblock %}Resty</title>
<nav>
  <h1>Resty</h1>
  <ul>
    {% if user %}
      <li><span>User: {{ user['user_name'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
      <li><a href="{{ url_for('apl.home') }}">Home</a>
      <li><a href="{{ url_for('apl.search') }}">Search</a>
      <li><a href="{{ url_for('apl.profile') }}">Profile</a>
      <li><a href="{{ url_for('apl.users') }}">All Users</a>
      <li><a href="{{ url_for('apl.reservations') }}">My Reservations</a>
      <li><a href="{{ url_for('apl.wishlist') }}">Wishlist</a>
      <li><a href="{{ url_for('apl.visited') }}">Visited</a>
      <li><a href="{{ url_for('apl.recommendation') }}">Recommendation</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>