{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Users{% endblock %}</h1>
{% endblock %}

{% block content %}
    <body>
        {% for u in user_followed %}
            <div>Username: {{u['user_name']}}</div>
            {% if u['follow_flag'] == 'true' %}
                <div>Already Following!</div>
                <a href="{{ url_for('apl.unfollow', u_id = u['u_id']) }}">Unfollow</a>
                <br>
            {% else %}
                <!--USE HYPER LINK WHEN IMPLEMENTED THE FOLLOW LINK-->
                <a href="{{ url_for('apl.follow', u_id = u['u_id']) }}">Click here to Follow!</a>
                <br>
            {% endif %}
            <br>
        {% endfor %}
    </body>
{% endblock %}