{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Visited{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% for r in restaurants %}
        <hr>
        <header>
            <h1>{{ r['name'] }}</h1>
            {% if r['trendy_flag']%}
                <div class = "trendy">TRENDING!</div> 
            {% endif %}
        </header>
        <body>
            <div class = "desc"> A {{ r['restaurant_type'] }}restaurant in {{r['city']}}, {{r['state']}}that serves {{r['cuisine']}} cuisine!</div>
            <div class = "price_range">Price Range: {{ r['price_range'] }}</div>
            <div class = "phone_number">Contact: {{ r['phone_number'] }}</div>
            <div class = "location">Address: {{ r['street_ad_1'] }} {{ r['street_ad_2'] }}, {{r['city']}}, {{r['state']}}, {{r['country']}} {{r['zipcode']}}</div>
            <div></div>
            <a href="{{ url_for('apl.unvisit', r_id = r['r_id']) }}">Mark as Unvisited!</a><br>
            <div class = "reserve">Reserve a Slot!</div>
            {% if r['r_id'] not in r_visited %}
                <div class = "visited">Mark as Visited!</div>
            {% elif r['r_id'] not in r_rev %}
                <!--TURN TO HTML HYPERLINK TO WRITE REVIEW-->
                <div class = "review">Write a Review!</div>
            {% endif %}
        </body> 
    {% endfor %}
{% endblock %}